.reservation-form {
    margin-top:5%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.select {
    padding: 10px 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.input-container {
    position: relative;
    flex: 1;
    margin: 0 10px;
}

.input-container .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

input, textarea {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus, textarea:focus {
    border-color: #aaa;
    outline: none;
}

textarea {
    resize: none;
    height: 80px;
}

.payment-methods {
    display: flex;
    justify-content: space-around;
}

.payment-methods label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #26a442;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #207d34;
}
